<h1>Ready to Join?</h1>

<% if flash[:errors] %>
    <ul class="errors">
        <% list_user_errors(flash[:errors]).each do |err| %>
           <li><%= err %></li>
        <% end %>
    </ul><br>
<% end %>

<%# ALTERNATE ERROR MESSAGE DISPLAY METHOD %>
<%# <% if @user.errors.any? %>
    <%# <ul class="errors"> %>
        <%# <% @user.errors.full_messages. each do |msg| %>
            <%# <li><%= msg %>
        <%# <% end %>
    <%# </ul> %>
<%# <% end %>

<%= form_for @user, url: users_path do |f| %>
    <%= f.label 'First Name:' %>
    <%= f.text_field :firstname %><br>
    <%= f.label 'Last Name:' %>
    <%= f.text_field :lastname %><br>
    <%= f.label 'Age:' %>
    <%= f.text_field :age %><br>
    <%= f.label 'Create Username:' %>
    <%= f.text_field :username %><br>
    <%= f.label 'Create Password:' %>
    <%= f.text_field :password %><br>
    <%= f.label 'Confirm Password:' %>
    <%= f.text_field :password_confirmation %><br>
    <%= f.hidden_field :hours_played, value: 0 %>
    <br>
    <p>All fields are required.</p>
    <br>
    <%= f.submit 'Create Account' %>
<% end %>