<% if !logged_in? %>
    <p>Please log in to view this information.</p>
<% else %>
    <% if @user == current_user %>
        <h3>MY PROFILE</h3>
    <% else %>
        <h3><%= @user.username %>'s PROFILE</h3>
    <% end %>
    <h4>NAME: <%= @user.firstname %> <%= @user.lastname %></h4>
    <h4>AGE: <%= @user.age %></h4>
    <h4>TOTAL HOURS PLAYED: <%= @user.hours_played %></h4>
    <h4><%= link_to "CONSOLES PLAYED", user_consoles_path(@user.id) %></h4>
    <h4><%= link_to "GAMES PLAYED", user_games_path(@user.id)%></h4>
<% end %>