<% if logged_in? && @user == current_user %>
    <h3>MY PROFILE</h3>
    <h4>TOTAL HOURS PLAYED</h4>
    <h4><%= link_to "MY CONSOLES", user_consoles_path(@user.id) %></h4>
    <h4><%= link_to "MY GAMES", user_games_path(@user.id)%></h4>
<% elsif logged_in? %>
    <h3><%= @user.username %>'s PROFILE</h3>
    <h4>TOTAL HOURS PLAYED</h4>
    <h4><%= link_to "CONSOLES", user_consoles_path(@user.id)%></h4>
    <h4><%= link_to "GAMES", user_games_path(@user.id)%></h4>
<% else %>
    <p>Please log in to view this information.</p>
<% end %>