<!DOCTYPE html>
<html>
  <head>
    <title>RailsVideogameLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>RAILS VIDEOGAME LIBRARY</h1>
      <nav>
        <span><%= link_to "HOME", root_url %></span>
        <% if logged_in? %>
          <span><%= link_to "USER", user_path(current_user) %></span>
          <span><%=link_to "LOGOUT", logout_path %></span>
        <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
